#accueil{
	width: 1000px;
	color:red;
	text-align: justify;
	border-width:3px;
}

#logo{
	width: 100px;
	height: 100px;
}

#connection{
	float: right;
	display: inline;
	padding: 10px;
}

#champConnection{
	width: 1%;
}

#photo{
	display:inline;
	float: right;
}

#champs{

}

#notification{

}

.notification{
	color:red;
}

#submit{
}

#header{
	text-align: center;
}
